################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/apps/FfmpegApp/.vs/FfmpegApp/v15/Server/sqlite3
/apps/FfmpegApp/FfmpegApp/obj/Debug
